<section class="skills" id="skills">
    <h2 class="header"> Skills <span> Technology </span> </h2>

    <div class="skills-container">
        <div class="skills-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web<span> Development</span></h3>
            <p>"UI web development focuses on creating visually appealing and user-friendly interfaces for websites. It
                involves designing layouts, selecting colors and typography, and implementing interactive elements.
                Through a combination of HTML, CSS, and JavaScript, UI developers bring designs to life, ensuring
                seamless user experiences. They optimize interfaces for different devices and browsers, enhancing
                accessibility and responsiveness. UI web development plays a crucial role in engaging and retaining
                users, making it a vital aspect of successful websites."</p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="skills-box">
            <i class='bx bxl-java'></i>
            <h3>Software<span> Development</span></h3>
            <p>"Java backend development involves building robust and scalable server-side applications using the Java
                programming language. Backend developers leverage frameworks like Spring and Hibernate to handle data
                processing, business logic, and integrations with databases. They ensure secure and efficient
                communication between the frontend and backend, handle API requests, and implement server-side
                functionalities. Java backend development plays a critical role in powering the functionality and
                performance of web applications and services."</p>

            <a href="#" class="btn">Read More</a>

        </div>
        <div class="skills-box">
            <i class='bx bxl-spring-boot'></i>
            <h3>Businnes<span> Logic code </span></h3>
            <p>"Spring Boot is a powerful framework for building Java applications, providing a streamlined development
                experience. It simplifies the setup and configuration of Spring-based projects, allowing developers to
                focus on writing business logic. With built-in features like auto-configuration and embedded servers,
                Spring Boot enables rapid application development. It supports creating RESTful APIs, handling data
                persistence with JPA, and integrating with various databases. Spring Boot empowers developers to create
                scalable, robust, and production-ready applications with ease."</p>

            <a href="#" class="btn">Read More</a>

        </div>

        <!-- <div class="skills-box">
    <i class='bx bx-paint' ></i>
    <h3>Web<span>  Page Design </span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci natus non dolorum error rem tempora nemo consectetur!</p>

    <a href="#" class="btn">Read More</a>

</div> -->

        <div class="skills-box">
            <i class='bx bxs-data'></i>
            <h3>DataBase<span> SQL </span></h3>
            <p>"MySQL is a popular open-source relational database management system (RDBMS). It offers a reliable and
                scalable solution for storing, managing, and retrieving data. MySQL supports various data types,
                transactions, and robust security features. With its efficient indexing and query optimization
                capabilities, MySQL ensures fast and efficient data retrieval. It is widely used in web applications,
                e-commerce platforms, and enterprise systems, making it a trusted choice for data storage and
                management."</p>

            <a href="#" class="btn">Read More</a>

        </div>
    </div>
</section>