<section class="skills" id="skills">
    <h2 class="header"> Skills <span> Technology </span> </h2>

    <div class="skills-container">
        <div class="skills-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web<span> Development</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci
                natus non dolorum error rem tempora nemo consectetur!</p>

            <a href="#" class="btn">Read More</a>
        </div>

        <div class="skills-box">
            <i class='bx bxl-java'></i>
            <h3>Software<span> Development</span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci
                natus non dolorum error rem tempora nemo consectetur!</p>

            <a href="#" class="btn">Read More</a>

        </div>
        <div class="skills-box">
            <i class='bx bxl-spring-boot'></i>
            <h3>Businnes<span> Logic code </span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci
                natus non dolorum error rem tempora nemo consectetur!</p>

            <a href="#" class="btn">Read More</a>

        </div>

        <!-- <div class="skills-box">
    <i class='bx bx-paint' ></i>
    <h3>Web<span>  Page Design </span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci natus non dolorum error rem tempora nemo consectetur!</p>

    <a href="#" class="btn">Read More</a>

</div> -->

        <div class="skills-box">
            <i class='bx bxs-data'></i>
            <h3>DataBase<span> SQL </span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi commodi soluta odio sed, adipisci
                natus non dolorum error rem tempora nemo consectetur!</p>

            <a href="#" class="btn">Read More</a>

        </div>
    </div>
</section>