<section class="about" id="about">
    <div class="about-img">
        <img src="../../../assets/meb.jpg">

    </div>
    <div class="about-content">
        <h2 class="heading">About <span> Me</span></h2>
        <h3> Full Stock Developer! </h3>
        <h4>Frontend and Backend Developer</h4>
        <p>Java Full Stack Developer and I have Completed my graduation from Gulbarga University and currently am
            working in Ketan Software Ltd. I have 2.8 years experience in Software Development and My Role is Associate
            Developer and I have worked on skills like Core Java, J2EE Technologies, Spring Boot, Hibernate ORM, JDBC,
            Configuration, Sprin-MVC, Restful Web service, Microservice, Database Mysql, HTML, CSS, Bootstrap and
            AngularJS.</p>
        <a href="#" class="btn">Read More </a>
    </div>
</section>