<section class="about" id="about">
    <div class="about-img">
        <img src="../../../assets/meb.jpg">

    </div>
    <div class="about-content">
        <h2 class="heading">About <span>Me</span></h2>
        <h3> Full Stock Developer! </h3>
        <h4>Frontend and Backend Developer</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
            omnis eius laboriosam veritatis fugit ratione?
            Reprehenderit fugiat harum perferendis at vero corporis?</p>
        <a href="#" class="btn">Read More </a>
    </div>
</section>