/* You can add global styles to this file, and also import other style files */
@import url('~/node_modules/bootstrap/dist/css/bootstrap.min.css');

 ::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family: 'Poppins',sans-serif;
} 

:root{
 --bg-color:#10100f;
 --second-bg-color:#0f2e67;
 --text-color:#fff;
 --main-colore:#0ef;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}
/* body img {
   background-image:none;
} */

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

@media ( max-width : 1200px) {
html {
    font-size: 55%;
}

}