<section class="project" id="project">
    <h2 class="hedear">Latest <span> Project</span></h2>

    <div class="project-container">
        <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
                <h4>Portfolio<span>Anand</span></h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam
                    ut, adipisci inventore sint laborum accusamus sequi.</p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
                <h4> Web Design</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam
                    ut, adipisci inventore sint laborum accusamus sequi.</p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>

        <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
                <h4>BookMyShow</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam
                    ut, adipisci inventore sint laborum accusamus sequi.</p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>

        <!-- <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
             <h4>ATM Machine</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->

        <!-- <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
             <h4>ESHOP</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->

        <!-- <div class="project-box">
            <img src="../../../assets/login.png">
            <div class="project-layer">
             <h4> FaceBook Login Page</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->


    </div>

</section>