<section class="project" id="project">
    <h2 class="hedear">Latest <span> Project</span></h2>

    <div class="project-container">
        <div class="project-box">
            <img src="../../../assets/PortfolioProject.jpeg">
            <div class="project-layer">
                <h4>Portfolio<span>Anand</span></h4>
                <p>"My portfolio project showcases my expertise as a Java full-stack developer. It demonstrates my proficiency in building robust web applications using Java, Spring Boot, and front-end technologies like HTML, CSS, and JavaScript. The project highlights my ability to design and develop database schemas, implement RESTful APIs, and create engaging user interfaces. It reflects my commitment to delivering high-quality code, efficient performance, and seamless user experiences. This portfolio project is a testament to my skills and passion for full-stack Java development."</p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>
        <div class="project-box">
            <img src="../../../assets/UTMSProject.jpeg">
            <div class="project-layer">
                <h4> UTMS <span>Testing</span>  </h4>
                <p>Unified Testing Management System is an integrated
                    with domain-specific tools & technologies and
                    frameworks, enables testers, developers and business
                    users to collaborate and contribute to providing
                    comprehensive testing services. UTMS can be
                    delivered via cloud, integrated with existing client
                    systems and on premises systems. Customers can
                    achieve faster time-to-market of their
                    products/applications and solutions, enhanced ROI
                    and superior end-user experience while reducing total
                    cost of testing. And Implemented plug-in for
                    identifying the css path or x path (grab fields) from
                    the page. </p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>

        <div class="project-box">
            <img src="../../../assets/fedexProject.jpeg">
            <div class="project-layer">
                <h4>FedEx <span>Logistic</span></h4>
                <p>Provides an interface enabling the creation of
                    electronic files that can be downloaded and
                    subsequently transmitted to Customs directly with
                    Colombia Customs using web-services. FedEx Global
                    Clearance provides the ability to enter & maintain
                    exchange rates for the preparation and storage of duty
                    & tax information for entries. Each AWB will require
                    the assignment of a Reservation Number upon
                    transmission to Customs. This is part of the electronic
                    file sent to Customs.</p>
                <a href="#"><i class='bx bx-link'></i></a>
            </div>
        </div>

        <!-- <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
             <h4>ATM Machine</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->

        <!-- <div class="project-box">
            <img src="../../../assets/bookMyShow.jpeg">
            <div class="project-layer">
             <h4>ESHOP</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->

        <!-- <div class="project-box">
            <img src="../../../assets/login.png">
            <div class="project-layer">
             <h4> FaceBook Login Page</h4>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sit quidem hic culpa possimus. Magnam ut, adipisci inventore sint laborum accusamus sequi.</p>
             <a href="#"><i class='bx bx-link'></i></a>
            </div>
         </div> -->


    </div>

</section>