<section class="contact" id="contact">
    <h2 class="hedear">Get In <span>Touch Me!</span></h2>
    <form action="#" class="form" [formGroup]="contactDetails" (ngSubmit)="submiteForm()">

        <div class="input-box">
            <input type="text" [placeholder]="name" formControlName="name" name="name" class="form-control">
            <input type="email" [placeholder]="email" formControlName="email" name="email" class="form-control">

        </div>

        <div class="input-box">
            <input type="number" [placeholder]="mobile" formControlName="mobile" name="mobile" class="form-control">
            <input type="text" [placeholder]="subject" formControlName="subject" name="subject" class="form-control">

        </div>
        <textarea name="" id="" cols="30" rows="6" placeholder="Your Message" formControlName="message" name="message" class="form-control"></textarea>
        <input type="submit" value="Send Message" class="btn" (click)="submiteForm()">
        
    </form>

</section>

<!-- 
<div class="container">
    <div class="card">

        <h1>Compose Email</h1>
        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="field" appearance="outline">
            <mat-label>Cc</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Inter your massage..</mat-label>
            <textarea  rows="10" matInput placeholder="Hey, what are you doing.."></textarea>
        </mat-form-field>
        <button type="submit"  mat-raised-button color="primary" (click)="btnClick()">Send Mail</button>
        <button type="reset"  mat-raised-button color="accent" (click)="btnClick()">Reset</button>
    </div>

</div> -->