
<section class="contact" id="contact">
    <h2 class="hedear">Get In <span>Touch Me!</span></h2>
    <form action="#">

        <div class="input-box">
            <input type="text" [placeholder]="name">
            <input type="email" [placeholder]="email">

        </div>

        <div class="input-box">
            <input type="number" [placeholder]="mobile">
            <input type="text" [placeholder]="subject">

        </div>
        <textarea name="" id="" cols="30" rows="6" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
    </form>
</section>